.selectedPage {
  font-weight: bold;
  margin-right: 3px;
  cursor: pointer;
}

.page {
  margin-right: 3px;
  cursor: pointer;
}

.paginator {
  margin: 5%;
}

.pageNumber {
  padding: 1%;
  border: 1px solid red;
}
